.hero {
  height: 60vh;
  background-image: url('../assets/images/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 18px;
}
